<style>
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<div ng-if="!user.isAuthenticated">
    <p>You're not logged in. Please loggin:</p>
    <div class="col-md-1 ">
        <a href="http://localhost:8000/#/">
            <button  class="btn btn-primary">Login In</button>
        </a>
    </div>
</div>

<div class="container" ng-if="user.isAuthenticated">
    <div>
        <button class="btn btn-default" ng-click="getUserRole()">Get Users</button>
        <table>
            <tr ng-repeat='size in usersas.users' >
                <td>{{size.id }}</td>
                <td>{{size.email }}</td>
                <td><button class="btn btn-default"  ng-click="deleteUser(size.id)">Delete User</button></td>
            </tr>
        </table>
    </div>
</div>



<section class="row new-post" ng-if="user.isAuthenticated">
    <div class="col-md-6 col-md-offset-3">
        <header><h3>What do you have to say?</h3></header>
        <form>

            <div class="form-group">
                <textarea class="form-control" name="body" ng-model="chat.body" rows="5" placeholder="Your Post"></textarea>
            </div>
            <button class="btn btn-primary" ng-click="post()">Post</button>

        </form>
    </div>
</section >
<section class="row posts" ng-if="user.isAuthenticated">
    <div class="col-md-6 col-md-offset-3 ">
        <header><h3>What other people say...</h3></header>
        <article class="post">

            <div ng-repeat="size2 in chatess.chats | orderBy:'-created_at'" class="big">
                <p>{{size2.body}}</p>



            <div class="info">
                Posted by {{size2.user_name}} on {{size2.created_at}} {{user.id}}
            </div>
                <div ng-if="size2.user_id == userId">
                    <div class="interaction">
                        <a href="#" class="like"></a> |
                        <a href="#" class="like"></a>

                        <a href="#" class="edit">Edit</a> |
                        <a href="http://localhost:8000/#/" ng-click="deletePost(size2.id)">Delete</a>

                    </div>
                </div>
                <div class="tab"></div>
            </div>

        </article>
    </div>
</section>


