<section class="row new-post">
    <div class="col-md-6 col-md-offset-3">
        <header><h3>What do you have to say?</h3></header>
        <form>

            <div class="form-group">
                <textarea class="form-control" name="body" ng-model="chat.body" rows="5" placeholder="Your Post"></textarea>
            </div>
            <button class="btn btn-primary" ng-click="post()">Post</button>

        </form>
    </div>
</section >