<!--<div class="row">
    <div class="col-sm-5 col-sm-push-3 well">
        <h1>Login</h1>
        <form name="loginForm" ng-submit="doLogin(loginForm)">

            <div class="form-group">
                <input type="email" name="email" ng-model="loginn.email"
                       required placeholder="Enter your email address" class="form-control">
            </div>

            <div class="form-group">
                <input type="password" name="password" ng-model="loginn.password"
                       required placeholder="Enter your password" class="form-control">
            </div>
            <div class="col-md-1 ">
            <input type="submit" name="save" value="Login" class="btn btn-success">
            </div>
        </form>
            <div class="col-md-offset-8 ">
            <a href="http://localhost:8000/#/signup">
                <button  class="btn btn-primary">Sign Up</button>
            </a>
</div>



    </div>
</div>
-->
<div class="row" ng-if="!user.isAuthenticated">
    <div class="col-sm-5 col-sm-push-3 well">
        <h1>Login</h1>
        <form>

            <div class="form-group">
                <input type="email" name="email" ng-model="loginForm.email"
                       required placeholder="Enter your email address" class="form-control">
            </div>

            <div class="form-group">
                <input type="password" name="password" ng-model="loginForm.password"
                       required placeholder="Enter your password" class="form-control">
            </div>
            <div class="col-md-1 ">
                <button class="btn btn-primary" ng-click="login()">Login</button>
            </div>

        <div class="col-md-offset-8 ">
            <a href="http://localhost:8000/#/signup">
                <button  class="btn btn-primary">Sign Up</button>
            </a>
        </div>
        </form>


    </div>
</div>

