<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div claas="row">
    <div class="col-sm-5 col-sm-push-3 well">
        <h3>Sign Up</h3>
        <form>
            <div class="form-group">
                <input type="name" name="name" ng-model="signup.name"
                       required placeholder="Enter your name" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" name="email" ng-model="signup.email"
                       required placeholder="Enter your email address" class="form-control">
            </div>

            <div class="form-group">
                <input type="password" name="password" ng-model="signup.password"
                       required placeholder="Enter your password" class="form-control">
            </div>

            <div class="col-md-1 ">
                <button class="btn btn-primary" ng-click="doSignUp()">Sign Up</button>
            </div>
        </form>
        <div class="col-md-offset-8 ">
            <a href="http://localhost:8000/#/">
                <button  class="btn btn-primary">Back</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>