table.meniu {
    text-align: left;
    background-color:#F8E9FC;
    border:3px dashed black;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    padding: 1px;
    background-color: white;                
}
table.backlink {  
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 0px;
    margin-top: 0px;
    border-width: 13px;
    border-style: solid;
    border-color: red;    
    background-color: cyan;   
}
body {
    text-align:center;
}   
form.login {
    margin-bottom:0;
    padding:6px; 
    background-color:#FFF7B7; 
    border:3px dashed grey;               
}
input.s1 {   
    width:100%;
    font-size:13pt;
    text-align:left;
}
table.pad {
     margin-left: 400px;
     border-width: 3px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    background-color: white;  
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}